/* ===== Form rules */
select {
    padding-right: 30px !important;
}
.form .form-check {
    display: flex;
    align-items: center;
}
.form .form-check label {
    margin-right: 30px;
}

/* ===== Post rules */
.post .vote {
    border-right: unset;
    border-left: 1px solid #ddd;
}
.post .meme .ms-2 {
    margin: 0px 10px;
}
.post .meme .dots {
    right: unset;
    left: 10px;
}
